@import '../../_colors.sass'

.banner
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100vh
  background-image: url('./images/banner.svg')
  background-size: cover

.banner__title
  margin: 0
  color: $text-color
  font-family: 'Roboto', sans-serif
  font-size: 6.2em

.banner__nav
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 27vw
  color: $text-color

.banner__nav__item--selected
  border-bottom: 4px solid $complementary-color

@media screen and ( max-width: 1200px )
  .banner__nav
    width: 35vw

@media screen and ( max-width: 900px )
  .banner
    background-size: cover
    background-position-x: 60%

  .banner__title
    font-size: 4.5em
  
  .banner__nav
    width: 80vw
    font-size: 0.9em