.exam-question-holder
    border-radius: 30px
    display: flex
    flex-direction: column
    padding: 20px 80px 20px 80px
    margin-bottom: 15px
    transition: 1s ease-in-out

.exam-question-holder:nth-child(1)
    padding-top: 50px

@keyframes fade-in-text
    0%
        color: #f1f1f1
    100%
        color: black

.exam-question-explanation
    text-align: justify
    margin-top: 30px
    padding: 50px
    border-radius: 30px
    background-color: #f8f8f8
    animation: fade-in-text 2s forwards

    .exam-question-explanation-e
        color: #3b50df
        font-weight: bold

@media screen and ( max-width: 1119px )
    .exam-question-holder
        padding: 15px

    .exam-question-explanation
        padding: 30px
        overflow: scroll