@import '../../_colors.sass'
    
.tutorial
    display: grid
    grid-template-rows: 1fr 50px 1fr
    background: url('./images/background.svg')
    background-size: cover
    height: 100vh

.tutorial__topic:nth-child(1)
    align-self: end

.tutorial__topic
    color: $text-color
    margin: 0 120px 0 120px

.topic__title
    font-size: 1.5em
    font-family: 'Roboto', sans-serif
    font-weight: bold
    color: $complementary-color

.topic__text
    font-size: 1.3em
    text-align: justify

.tutorial__division
    align-self: center
    hr
        border: none
        height: 2px
        background-color: $complementary-color
        width: 45%
        margin: 0 0 0 120px

@media screen and ( max-width: 899px )
    .tutorial
        height: auto
    
    .tutorial__topic
        margin: 0 40px 0 40px