@import '../../_colors.sass'
.exams
    display: grid
    grid-template-rows: 150px 1fr
    background-image: url('./images/background.svg')
    background-size: cover
    background-position-y: -70px
    height: 100vh

.exams__title
    color: $complementary-color
    font-size: 1.4em
    font-family: 'Roboto', sans-serif
    align-self: center
    padding-left: 120px

.exams__list
    display: grid
    grid-template-columns: repeat( 17, 1fr)
    column-gap: 50px

.exams__exam:nth-child(1)
    grid-column: 2 / 7

.exams__exam
    display: flex
    flex-direction: column
    justify-content: flex-end
    border-radius: 40px
    background: linear-gradient(.6turn, rgba(44, 44, 68, .5) 10%, rgba(22, 8, 30, .5) 80%)
    height: 70vh
    grid-column: span 5
    color: $text-color

.exams__exam__year
    font-size: 2.3em
    font-family: 'Roboto', sans-serif
    font-weight: bold

.exams__exam__year, .exams__exam__hr
    margin: 0 0 0 20px

.exams__exam__hr
    margin-bottom: 100px
    width: 70%
    height: 3px
    border: none
    background-color: $complementary-color

.exam__borders .above
    position: absolute
    z-index: 100
    width: 27vw
    top: 117vh
    background: transparent
    border: 1px solid $complementary-color

.exam__borders .above:nth-child(1)
    left: 3vw

.exam__borders .above:nth-child(2)
    left: 34vw

.exam__borders .above:nth-child(3)
    left: 65vw

@media screen and ( max-width: 1099px )
    .exams__list
        grid-template-columns: 1fr
        grid-template-rows: repeat(3, 1fr)
        column-gap: 0
        grid-row-gap: 20px

    .exams__exam:nth-child(1)
        grid-column: auto

    .exams__exam
        margin: 0 20px 0 20px
        border-radius: 20px
        height: auto

    .exam__borders .above
        height: 160px
        width: 85vw
        left: 3vw !important
    
    .exam__borders .above:nth-child(2)
        top: 145vh

    .exam__borders .above:nth-child(3)
        top: 173vh